@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800');

@font-face {
  font-family: "Klinic Slab";
  font-style: normal;
  font-weight: book;
  src:
    local("Klinic Slab"),
    url('~static/fonts/KlinicSlab/KlinicSlabBook.otf');
}

@font-face {
  font-family: "Klinic Slab";
  font-style: normal;
  font-weight: medium;
  src:
    local("Klinic Slab Medium"),
    url('~static/fonts/KlinicSlab/KlinicSlabMedium.otf');
}

@font-face {
  font-family: "Klinic Slab";
  font-style: normal;
  font-weight: bold;
  src:
    local("Klinic Slab Bold"),
    url('~static/fonts/KlinicSlab/KlinicSlabBold.otf');
}
