section.booking-page {
  background-color: $white;
  h3 {
    padding: * * 50px *;
  }
  h3, h4 {
    lost-center: 600px;
    justify-content: center;
    text-align: center;
  }
  &#booking-header {
    position: relative;
    padding: * * 0 *;
    #save-booking-btn.btn-big {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 50px * * *;
      @media (--for-tablet-land-up) {
        position: absolute;
        left: calc(50% + 200px);
        top: 20%;
        transform: none;
        margin: 0;
      }
    }
  }
}
