/*
Component: Staggered Card Blocks
Author: Jay Bauer
Organization: Elite Digital

Staggered-style card blocks on home and litigation page
*/

@mixin card-blocks($image-size, $info-size, $margin) {
  .card-blocks {
    .card-block {
      lost-center: math($image-size + 70px);
      margin: * * $margin;
      &__image {
        display: flex;
        lost-column: 1/1 0 0;
        align-items: center;
        justify-content: center;
        min-height: $image-size;
        &--orange {
          background-color: $orange;
        }
        &--yellow {
          background-color: $yellow;
        }
        &--light-blue {
          background-color: $light-blue;
        }
        &--purple {
          background-color: $purple;
        }
        &--red {
          background-color: $red;
        }
      }
      &__text {
        display: flex;
        align-items: center;
        padding: 20px;
        background-color: $white;
        text-align: center;
        h4 {
          color: $blue;
          margin-bottom: 20px;
        }
        p {
          font-family: 'Muli', sans-serif;
        }
      }
    }
  }
  /* Media Queries */
  @media (--for-tablet-port-up) {
    .card-blocks {
      lost-flex-container: row;
      justify-content: center;
      margin: $margin 0;
      .card-block {
        lost-center: $image-size;
      }
    }
  }
  @media (--for-tablet-port-up) {
    .card-blocks {
      &--left {
        width: 100%;
        margin-right: 0;
        .card-block {
          @for $i from 2 to 5 by 2 {
            &:nth-of-type($i) {
              flex-flow: row-reverse;
            }
          }
        }
      }
      &--right {
        width: 100%;
        margin-left: 0;
        .card-block {
          @for $i from 1 to 5 by 2 {
            &:nth-of-type($i) {
              flex-flow: row-reverse;
            }
          }
        }
      }
      .card-block {
        lost-center: math($image-size + $info-size);
        &__image {
          max-width: $image-size;
        }
        &__text {
          width: calc(100% - $image-size);
          text-align: left;
        }
      }
    }
  }
  @media (--for-tablet-land) {
    $card-offset: math(($info-size - $image-size) / 2);
    .card-blocks {
      &--left {
        .card-block {
          @for $i from 2 to 5 by 2 {
            &:nth-of-type($i) {
              &.before-scroll {
                opacity: 0;
                transform: translateX(0);
              }
              &.after-scroll {
                opacity: 1;
                transform: translateX(math(- $card-offset));
                transition: opacity 0.5s ease, transform 0.5s ease;
              }
            }
          }
          @for $i from 1 to 5 by 2 {
            &:nth-of-type($i) {
              &.before-scroll {
                opacity: 0;
                transform: translate(0);
              }
              &.after-scroll {
                opacity: 1;
                transform: translateX($card-offset);
                transition: opacity 0.5s ease, transform 0.5s ease;
              }
            }
          }
        }
      }
      &--right {
        .card-block {
          @for $i from 1 to 5 by 2 {
            &:nth-of-type($i) {
              &.before-scroll {
                opacity: 0;
                transform: translateX(0);
              }
              &.after-scroll {
                opacity: 1;
                transform: translateX(math(- $card-offset));
                transition: opacity 0.5s ease, transform 0.5s ease;
              }
            }
          }
          @for $i from 2 to 5 by 2 {
            &:nth-of-type($i) {
              &.before-scroll {
                opacity: 0;
                transform: translateX(0);
              }
              &.after-scroll {
                opacity: 1;
                transform: translateX($card-offset);
                transition: opacity 0.5s ease, transform 0.5s ease;
              }
            }
          }
        }
      }
    }
  }
  @media (--for-desktop-up) {
    .card-blocks {
      position: relative;
      flex-wrap: nowrap;
      padding-top: 40px;
      &--left {
        width: auto;
        margin-right: $margin;
        .card-block {
          flex-flow: row-reverse !important;
          &.before-scroll {
            opacity: 0;
            transform: translateX(-100%);
          }
          &.after-scroll {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.7s ease, transform 0.7s ease;
          }
        }
      }
      &__divider {
        position: absolute 0 * * *;
        height: 90%;
        border: 0 2px 0 2px / solid / $purple;
        border-radius: 5px;
      }
      &--right {
        width: auto;
        margin-left: $margin;
        transform: translateY(calc($image-size / 2));
        .card-block {
          flex-flow: row !important;
          &.before-scroll {
            opacity: 0;
            transform: translateX(100%);
          }
          &.after-scroll {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 0.7s ease, transform 0.7s ease;
          }
        }
      }
    }
  }
}
